<% layout('layouts/boilerplate') -%> 


<div class="container" style="background-color: lightblue; margin-bottom: 30px;">
    <div class="row">
        <h1 class="text-center">Edit Place</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=foundCamp._id%>?_method=PATCH" method="post" id="form" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title" style="font-weight: bold; font-size: 20px;">Title:</label>
                    <input type="text" name="title" id="title" class="form-control" value="<%= foundCamp.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="location" style="font-weight: bold; font-size: 20px;">Location:</label>
                    <input type="text" name="location" id="location" class="form-control" value="<%= foundCamp.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                    
                <!-- <div class="mb-3">
                    <label for="image">Add images</label>
                    <input type="file" name="image" id="image" multiple>
                    <label class="form-label" for="image">Image URL:</label>
                    <input type="text" name="image" id="image" class="form-control" value="<%= foundCamp.image %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                    
                    <div class="mb-3">
                        <label class="form-label" for="price" style="font-weight: bold; font-size: 20px;">Place Entry Price:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" name="price" id="price" class="form-control" placeholder="0.00" value="<%= foundCamp.price %>" required>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    
                    
                    <div class="mb-3">
                        <label class="form-label" for="description" style="font-weight: bold; font-size: 20px;">Description:</label>
                        <textarea type="text" name="description" id="description" class="form-control" required><%= foundCamp.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label" style="font-weight: bold; font-size: 20px;">Add Images</label>
                        <input class="form-control" type="file" name="image" id="formFileMultiple" multiple>
                    </div>
                    
                    <div class="mb-3">
                        <% foundCamp.images.forEach(function(img, i) {  %>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })%>
                    </div>
                    
                    <div class="c">
                        <button class="btn btn-info" type="submit" style="display: inline; margin-top: 20px; margin-bottom: 20px;">Update</button>
                        <a style="display: inline; float: right;" href="/campgrounds/<%=foundCamp._id%>"><button type="button" class="btn btn-outline-primary">Back to the Place</button></a>
                    </div>
                </form>
            </div>
            
            
        </div>
    </div>
    
    <!-- Old form -->
    <!-- <form action="/campgrounds/<%= foundCamp._id %>?_method=PATCH" method="post">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= foundCamp.title %>">
        </div>
    
        <div>
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" value="<%= foundCamp.location %>">
        </div>
    
        <button type="submit">Submit</button>
    
    </form> -->